click==6.6
codeclimate-test-reporter==0.1.1
coverage==4.1
defusedxml==0.4.1
dj-database-url==0.4.1
Django==1.9.6
django-classy-tags==0.7.2
django-floppyforms==1.6.2
django-mptt==0.8.4
django-nyt==0.9.9
django-ordered-model==1.1.0
django-sekizai==0.9.0
django-smart-selects==1.2.2
factory-boy==2.7.0
fake-factory==0.5.8
first==2.0.1
glob2==0.4.1
inflection==0.3.1
Jinja2==2.8
Mako==1.0.4
Markdown==2.6.6
MarkupSafe==0.23
oauthlib==1.1.1
parse==1.6.6
parse-type==0.3.4
pep8==1.7.0
Pillow==3.3.0
pip-tools==1.7.0
poirot==0.2.0
psycopg2==2.6.1
py==1.4.31
PyJWT==1.4.0
pytest==2.9.2
pytest-bdd==2.17.0
pytest-cov==2.2.1
pytest-django==2.9.1
pytest-factoryboy==1.2.2
python-dateutil==2.5.3
python-social-auth==0.2.19
python3-openid==3.0.10
regex==2016.5.23
requests==2.10.0
requests-oauthlib==0.6.1
six==1.10.0
sorl-thumbnail==12.3
tqdm==4.7.1
whitenoise==3.2
wiki==0.1.2
