{% extends "acquisitions/layout.html" %}

{% block content %}
<h1>Ongoing Acquisitions</h1>
{% if request.user.is_authenticated %}
<table>
    <tbody>
      <tr>
        {% for status in statuses.items %}
        <td class="status-{{ status.0 }}">
          {{ status.1.count }}
        </td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
<a class="usa-button" href="/new">add new</a>
<a href="/logout">Log out</a>
{% for acq in acquisitions %}
  <h2>{{ acq.task }}</h2>
  <p>Status: {{ acq.get_award_status_display }}</p>
  <p>
    {{ acq.description }}
  </p>
{% endfor %}
{% else %}
<a href="{% url 'social:begin' 'github-team' %}?next={{ request.path }}">Log in</a>
{% endif %}
{% endblock %}
