{% extends "acquisitions/layout.html" %}

{% block content %}
<h1>Ongoing Acquisitions</h1>
{% if request.user.is_authenticated %}
<div class="">
  <a class="usa-button" href="/new">add new</a>
  <a href="/logout">Log out</a>
</div>
<div class="">
  <h2>Tracks</h2>
  {% for track in data %}<a class="usa-button {% if forloop.counter == 1 %}usa-button-outline{% endif %} button-selector track-{{track}}">{{track}}</a>{% endfor %}
</div>
{% for track in data.items %}
<div class="acq-track track-{{track.0}} {% if forloop.counter > 1 %}hidden{% endif %}">
  <table>
    <thead>
      <tr>
        <th></th>
        {% for stage in track.1.items %}
        {% if stage.1.steps|length > 0 %}
          <th scope="col">
            {{ stage.1.name }}
          </th>
        {% endif %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for actor in actors %}
        <tr>
          <td>
            {{ actor.name }}
          </td>
          {% for stage in track.1.items %}
          {% if stage.1.steps|length > 0 %}
            <td scope="col">
              -
            </td>
          {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% for stage in track.1.items %}
    {% for step in stage.1.steps.items  %}
      <h2>{{ stage.1.name }} -  {{ step.1.name }}</h2>
      {% if step.1.acquisitions|length > 0 %}
      {% for acq in step.1.acquisitions %}
        {% include "acquisitions/includes/item.html" %}
      {% endfor %}
      {% else %}
      <div class="acq-content-none usa-grid">
        <h3>None</h3>
      </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
{% endfor %}
{% else %}
<a href="{% url 'social:begin' 'github-team' %}?next={{ request.path }}">Log in</a>
{% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript">
  'use strict';

  $(document).on('ready', function() {
    $('.hidden').hide();
  });

  $('.button-selector').click(function() {
    $('.button-selector').removeClass('usa-button-outline');
    $(this).addClass('usa-button-outline');
    var track = $(this).attr('class')
      .split(' ')
      .filter(function(i) {return i.search(/track/) >= 0;})
      .join();
    $('.acq-track').hide();
    $('.acq-track.'+track).show();
  });
</script>
{% endblock %}
