{% extends "acquisitions/layout.html" %}
{% load static from staticfiles %}

{% block content %}
{% load floppyforms %}
<h1>{{ item }}</h1>
<form class="usa-form-large" action="{{ action }}" method="POST">
  {% csrf_token %}
  {% for field in form %}
    {% if field.errors %}<div class="usa-input-error">{% endif %}
      <label for="{{ field|id }}" {% if field.errors %}class="usa-input-error-label"{% endif %}>
        {% if field.field.required %}* {% endif %}{{ field.label }}:
      </label>
      {% for error in field.errors %}
        <span class="usa-input-error-message" role="alert">{{ error }}</span>
      {% endfor %}
      {% widget field %}
      {% if field.help_text %}<div class="help-text">{{ field.help_text }}</div>{% endif %}
    {% if field.errors %}</div>{% endif %}
  {% endfor %}
  <div class="button_wrapper">
    <button class="usa-button-big" type="submit">Submit</button>
  </div>
</form>
{% endblock %}

{% block resources %}
<script src="{% static "smart-selects/admin/js/chainedfk.js" %}"></script>
{% endblock %}
