.usa-disclaimer-official {
  padding-left: 3rem;
}

.usa-disclaimer-stage {
  padding-right: 3rem;
}

.required {
  color: red;
}

.green {
  color: green;
}

.red {
  color: #e00;
}

.yellow {
  color: yellow;
  text-shadow: 0 0 5px black;
}

.stages-form {
  max-width: 100%;
}

.stages-form > button[type="submit"], h2 {
  display: inline-block;
  padding: 5px;
  font-size: 2rem;
}

.float-right {
  float: right;
}

.table-link {
  display: block;
  text-decoration: none;
  color: black;
}
